body {
  font-family: Verdana, sans-serif;
  background-color: grey;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-bar {
  display: flex;
  justify-content: center;
}

.menu-item {
  color: #42f4af;
  background-color: #051e45;
  border: 1px solid #42f4af;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}

.menu-item:hover {
  background-color: #0b586e;
  cursor: pointer;
}

#nav-bar ul {
  display: none;
}

#nav-bar li:hover > ul {
  display: block;
}
