body {
  font-family: Verdana, sans-serif;
  background-color: grey;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
}

#nav-bar {
  margin: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
  background-color: #42f4af;
  padding: 1px;
  z-index: 1;
}

.nav-item {
  color: #42f4af;
  background-color: #051e45;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}

.nav-item-hover {
  background-color: #0b586e;
  cursor: pointer;
}

.nav-list {
  display: none;
}

.nav-list-visible {
  display: grid;
  grid-template-rows: max-content;
  gap: 1px;
}

.nav-sublist {
  position: relative;
  top: -50px;
  left: 150px;
}

.nav-list {
  background-color: #42f4af;
}

#carousel {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#picture-view {
  display: flex;
  width: 500px;
  height: 500px;
  justify-content: center;
  overflow: hidden;
}

#picture-frame {
  display: flex;
  margin-left: 1000px;
}

#controls {
  display: flex;
  justify-content: center;
}

#btn-prev,
#btn-next {
  font-family: Verdana, sans-serif;
  cursor: pointer;
  width: 40px;
  height: 30px;
  color: #42f4af;
  border: 1px solid #42f4af;
  border-radius: 4px;
  background-color: #051e45;
  margin: 5px;
}

#dots-container {
  display: flex;
  align-items: center;
}

.dot {
  cursor: pointer;
  background-color: #051e45;
  border-radius: 50%;
  margin: 2px;
  width: 15px;
  height: 15px;
}
